<h3 style="padding:20px; color: #dac89d;" align="center"><b>MENU</b></h3>

				<table class="tabla2">
					
					<tr>

						<td>
							
							<div class="container-login100-form-btn" >
								<button class="login100-form-btn" style="width: 100%; border: solid 4px #dac89d;"><a href="#" style="color: #dac89d"><b> REGISTRATION OF BOSS OF CLASSROOM</b><br></a></button>
							</div>
							
						</td>
						<td>

							<div class="container-login100-form-btn">
								<button class="login100-form-btn" style="width: 100%; border: solid 4px #dac89d;">
								<a href="#" style="color: #dac89d"><b> ALLOCATION OF SCHEDULES AND CLASSROOMS</b><br></a></button>
							</div>
							
							
						</td>
					</tr>

					<tr>

						<td>
							
							<div class="container-login100-form-btn" >
								<button class="login100-form-btn" style="width: 100%; border: solid 4px #dac89d;"><a href="#" style="color: #dac89d"><b>SEE BOSS OF CLASSROOM REGISTERED</b><br></a></button>
							</div>
							
						</td>
						<td>

							<div class="container-login100-form-btn">
								<button class="login100-form-btn" style="width: 100%; border: solid 4px #dac89d;">
								<a href="#" style="color: #dac89d"><b> SEE STUDENTS </b><br></a></button>
							</div>
							
							
						</td>
					</tr>


					<tr>

						<td>
							
							<div class="container-login100-form-btn" >
								<button class="login100-form-btn" style="width: 100%; border: solid 4px #dac89d;">
									<a href="#" style="color: #dac89d">ALLOCATION OF BOSS OF CLASSROOM IN CLASSROOM<b><br></a></button>
							</div>
							
						</td>
						<td>

							<div class="container-login100-form-btn">
								<button class="login100-form-btn" style="width: 100%; border: solid 4px #dac89d;">
								<a href="#" style="color: #dac89d"><b>REGISTRATION OF STUDENTS</b><br></a></button>
							</div>
							
							
						</td>
					</tr>

					<tr>

						<td>
							
							<div class="container-login100-form-btn" >
								<button class="login100-form-btn" style="width: 100%; border: solid 4px #dac89d;">
									<a href="#" style="color: #dac89d">UPLOAD QUESTIONS<b><br></a></button>
							</div>
							
						</td>
						
					</tr>
				</table>

